<%- include layout/header.html.ejs %>
<div class="row">
	<div class="hide-for-small two block">
		<div id="demo-navigation">
			<%- include partials/demo/nav.html.ejs %>
		</div>
		&nbsp;
	</div>
	<div class="ten block">
		<div id="demo-content">
			<%- include partials/demo/intro.html.ejs %>
			
			<%- include partials/demo/type.html.ejs %>
			<%- include partials/demo/grid.html.ejs %>
			<%- include partials/demo/form.html.ejs %>
			<%- include partials/demo/button.html.ejs %>
			
			<%- include partials/demo/variables.html.ejs %>
			<%- include partials/demo/mixin.html.ejs %>
			<%- include partials/demo/helpers.html.ejs %>
			<%- include partials/demo/media_query.html.ejs %>
			
			<%- include partials/demo/spacing.html.ejs %>
			<%- include partials/demo/tips.html.ejs %>
		</div>
	</div>
</div>
<script>var currentPage = "demo";</script>
<%- include layout/footer.html.ejs %>